# Configuración del Nodo 3 (Raspberry Pi Zero 2 W)
NODE1_IP=192.168.1.2
NODE3_IP=192.168.1.4

# Contraseña del Agente CrowdSec para comunicarse con el LAPI central
CROWDSEC_AGENT_PASSWORD=SecretPassZero!

# Alertas Telegram para OpenCanary (Opcional)
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ
TELEGRAM_CHAT_ID=-1001234567890
